{% extends "layout.html" %}
{% block body %}
{{ super() }}
<title>Login Sample</title>
<h2>{{ pagename }}</h2>
{% with messages = get_flashed_messages() %}
<div>{{ messages[0] }}</div>
{% endwith %}
<form action="/{{pagename}}" method="POST" id="carform">
    <input type="text" name="username" id="username" placeholder="Username"></input>
    <input type="password" name="password" id="password" placeholder="Password"></input>
    <input type="submit" name="submit"></input>
</form>

<select name="auth" id="auth" form="carform">
    <option value="true">Manager</option>
    <option value="false">Diner</option>
</select>
{% endblock %}
