{% extends "layout.html" %}
{% block body %}
{{ super() }}
    <table class="table">
        <caption>Dishes</caption>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for ele in dishes %}
                <tr>
                    <td>{{ ele }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table">
        <caption>Reviews</caption>
        <thead>
            <tr>
                <th>ReviewTime</th>
                <th>DinerId</th>
                <th>Comments</th>
                <th>Star</th>
            </tr>
        </thead>
        <tbody>
            {% for ele in reviews %}
                <tr>
                    <td>{{ ele.dt }}</td>
                    <td>{{ ele.did }}</td>
                    <td>{{ ele.comments }}</td>
                    <td>{{ ele.star }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<div>{{rest_info}}</div>

{% endblock %}