{% extends "layout.html" %}
{% block body %}
{{ super() }}

	<table class="table">
		<caption>Restaurant Information</caption>
		<thead>
			<tr>
				<th>Restaurant Name</th>
				<th>StreetName</th>
				<th>City</th>
				<th>State</th>
				<th>PostalCode</th>
				<th>Stars</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
			{% if current_user.auth %}
			{% with messages = get_flashed_messages() %}
					<div>{{ messages[0] }}</div>
				{% endwith %}
				<form action="/managers/updateRest" method="POST">
						<td><input type="text" name="name" id="name" maxlength="25" value="{{rest_info.name}}"></input></td>
						<td><input type="text" name="street_name" id="street_name" maxlength="100" value="{{rest_info.street_name}}"></input></td>
						<td><input type="text" name="city" id="city" maxlength="20" value="{{rest_info.city}}"></input></td>
						<td><input type="text" name="state" id="state" maxlength="2" value="{{rest_info.state}}"></input></td>
						<td><input type="text" name="postal_code" id="postal_code" maxlength="5" value="{{rest_info.postal_code}}"></input></td>
						<td>{{ rest_info.stars }}</td>
						<input hidden type="text" name="restid" id="restid" value="{{rest_id}}"></input>
						<td><input type="submit" name="update"></input></td>
				</form>
			{% endif %}
			{% if not current_user.auth %}
				<td>{{ rest_info.name }}</td>
				<td>{{ rest_info.street_name }}</td>
				<td>{{ rest_info.city }}</td>
				<td>{{ rest_info.state }}</td>
				<td>{{ rest_info.postal_code }}</td>
				<td>{{ rest_info.stars }}</td>
				<td></td>
			{% endif %}
			</tr>
		</tbody>
	</table>

<!-- <div>{{rest_info}}</div> -->

	<table class="table">
		<caption>Dishes</caption>
		<thead>
			<tr>
				<th>Dish Name</th>
			</tr>
		</thead>
		<tbody>
			{% for ele in dishes %}
				<tr>
					<td>{{ ele }}</td>
					{% if current_user.auth %}
					<td><button type="button" onclick="deleteDish('{{ele}}', '{{rest_id}}')"
						class="btn btn-outline-danger">DELETE</button></td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if current_user.auth %}
		<h3> You can add a new Dish</h3>
		{% with messages = get_flashed_messages() %}
			<div>{{ messages[0] }}</div>
		{% endwith %}
		<form action="/managers/addDish" method="POST">
				<input type="text" name="dname" id="dname" maxlength="25" placeholder="new dish name"></input>
				<input hidden type="text" name="restid" id="restid" value="{{rest_id}}"></input>
				<input type="submit" name="add"></input>
		</form>
	{% endif %}

	{% if not current_user.auth %}
		<h3> You can add a review to this restaurant</h3>
		{% with messages = get_flashed_messages() %}
			<div>{{ messages[0] }}</div>
		{% endwith %}
		<form action="/users/addReview" id="reviewform" method="POST">
				<input type="text" name="comment" id="comment" maxlength="1000" placeholder="add a new review"></input>
				<input hidden type="text" name="restid" id="restid" value="{{rest_id}}"></input>
				<input type="submit" name="add"></input>
		</form>
		<p>Select Star</p>
		<select name="star" id="star" form="reviewform">
		    <option value="1">1</option>
		    <option value="2">2</option>
				<option value="3">3</option>
		    <option value="4">4</option>
				<option value="5">5</option>
		</select>
	{% endif %}

	<table class="table">
		<caption>Reviews</caption>
		<thead>
			<tr>
				<th>ReviewTime</th>
				<th>DinerId</th>
				<th>Comments</th>
				<th>Star</th>
			</tr>
		</thead>
		<tbody>
			{% for ele in reviews %}
				<tr>
					<td>{{ ele.dt }}</td>
					<td>{{ ele.did }}</td>
					<td>{{ ele.comments }}</td>
					<td>{{ ele.star }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
<script>
	function deleteDish(dname, restid) {
		jQuery.ajax({
				url: '/managers/' + restid + '/' + dname,
				type: 'DELETE',
				success: function(data) {
						alert(data)
						window.location = '/restaurants/' + restid
				}
		});
	}
</script>

{% endblock %}
